.textWrapper {
  width: 230px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.name {
  width: 210px;
  font-size: 20px;
  text-wrap: wrap;
  white-space: normal;
  overflow-wrap: break-word;
}

.number {
  width: 210px;
  font-size: 16px;
  text-wrap: wrap;
  white-space: normal;
  overflow-wrap: break-word;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 15px;
  --bg: #000;
  --hover-bg: #000;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  background: var(--color-dark-purple);
  transition: 0.2s;
  &:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--color-purple);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}
