.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #a197d8 0%,
    #4a4a81 46%,
    #9381ff 100%
  );
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.formWrapper {
  margin: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
